<title> {{ title }} </title>

<!--
    The Contact Page.
    -----------------
    Displays the relevant social media to contact me.
    Or by an email.
-->

<section id="contact-page">

    <header id="header-contact">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="header">Contact</h1>
                <hr>
                <h3 id="sub-heading">How to contact me</h3>
            </div>

            <section class="social-media-links">
                <div class="row">

                    <!-- Twitter -->
                    <div class="col-md-4">
                        <div class="twitter">
                            <a href="https://www.twitter.com">
                                <td><i class="fa fa-twitter fa-5x" id="twitter"></i><br/></td>
                                <h2 class="social-heading">Twitter</h2>
                            </a>
                        </div>
                    </div>
                    <!-- ./twitter -->

                    <!-- Facebook -->
                    <div class="col-md-4">
                        <div class="facebook">
                            <a href="https://www.facebook.com">
                                <td><i class="fa fa-facebook fa-5x" id="facebook"></i><br/></td>
                                <h2 class="social-heading">Facebook</h2>
                            </a>
                        </div>
                    </div>
                    <!-- ./facebook -->

                    <!-- Google Plus -->
                    <div class="col-md-4">
                        <div class="googleplus">
                            <a href="https://plus.google.com">
                                <td><i class="fa fa-google-plus fa-5x" id="google-plus"></i><br/></td>
                                <h2 class="social-heading">Google Plus</h2>
                            </a>
                        </div>
                    </div>
                    <!-- ./google-plus -->

                    <!-- Github -->
                    <div class="col-md-4">
                        <div class="github">
                            <a href="https://github.com">
                                <td><i class="fa fa-github fa-5x" id="github"></i><br/></td>
                                <h2 class="social-heading" id="github-text">Github</h2>
                            </a>
                        </div>
                    </div>
                    <!-- ./github -->

                    <!-- Email -->
                    <div class="col-md-4">
                        <div class="email">
                            <a href="#/contact-page">
                                <td><i class="fa fa-envelope fa-5x" id="mail"></i><br/></td>
                                <h2 class="social-heading">Email</h2>
                            </a>
                        </div>
                    </div>
                    <!-- ./email -->

                    <!-- LinkedIn -->
                    <div class="col-md-4">
                        <div class="linkedin">
                            <a href="https://gb.LinkedIn.com">
                                <td><i class="fa fa-linkedin fa-5x" id="linkedin"></i><br/></td>
                                <h2 class="social-heading" id="linkedin-text">LinkedIn</h2>
                            </a>
                        </div>
                    </div>
                    <!-- ./linkedin -->
                </div>
                <!-- ./row -->
            </section>
            <!-- ./social-media-links -->
        </div>
        <!-- ./header-content -->
    </header>

    <!-- Footer -->
    <footer class="footer">
        <div class="col-md-6">
            <h4>jh 2015.</h4>
        </div>

        <div class="col-md-6">
            <a href="#" target="_self" id="top"><i class="fa fa-chevron-up fa-lg"> Back To Top</i></a>
        </div>
    </footer>
    <!-- ./footer -->

</section>
