<title> {{ title }} </title>

<section id="main-page" ng-controller="HomeCtrl">

    <!-- Header -->
    <header id="header-home">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>jh</h1>
                <hr>
                <h2 class="header-content-subheader">Front-End Developer</h2>
            </div>
            <a href="#/portfolio" class="button-link">View My Work</a><br>
        </div>
    </header>

    <!-- Content-->
    <section id="content-home" role="main">
        <div class="container-fluid">
            <div class="row" id="row-main">
                <div class="col-md-4"><hr>
                    <h2>What I Do</h2>
                    <p class="row-content">Lorem ipsum dolor sit amet, mel cu quis discere sententiae. No euismod scaevola necessitatibus sit, has duis fugit zril ad. Eu sensibus accusamus pro, ea vis debet adipisci liberavisse. Ei mei aeque dictas propriae.</p>
                    <div class="icon"><i class="fa fa-laptop fa-5x"></i></div>
                </div>

                <div class="col-md-4"><hr>
                    <h2>What I Love</h2>
                    <p class="row-content">Lorem ipsum dolor sit amet, est malis vivendum voluptaria ex. Autem facilis mel ex, pro atqui doming quaestio in. Eros utroque ut mel, qui ad dolore malorum. Vim omnesque disputationi et. Alii iriure assueverit an per.</p>
                    <div class="icon"><i class="fa fa-code fa-5x"></i></div>
                </div>

                <div class="col-md-4"><hr>
                    <h2>Where I Live</h2>
                    <p class="row-content">Lorem ipsum dolor sit amet, vocibus accusam dissentiet et sit, in nec libris nominati tractatos. Te ius nibh debet. Vix id falli impetus, semper sententiae ei nam. Corrumpit conclusionemque et mei. Has et odio quidam.</p>
                    <div class="icon"><i class="fa fa-home fa-5x"></i></div>
                </div>
            </div>

            <div class="row" id="content-two">
                <div>
                    <div class="col-md-6">
                        <h2 class="heading"><hr>What I Know</h2>
                        <p class="bold">These are some of the programming languages I know, and love to code in.</p>
                        <p>Lorem ipsum dolor sit amet, per ex ferri everti. Novum minimum oportere ad his, ei eos platonem postulant forensibus. No docendi lobortis vel. In errem cetero scriptorem quo, laudem civibus platonem te has. Dolore inermis sea ex, pri no recusabo.</p>
                        <p>Te ius nibh debet. Lorem ipsum dolor sit amet, no possim oporteat detraxit quo, vocibus accusam dissentiet Per ex ferri everti.</p>
                    </div>

                    <div class="col-md-6" id="code">

                        <!-- Chart of Programming Knowledge -->
                        <div class="col-md-12">
                            <!-- HTML -->
                            <h3 class="programming-knowledge">HTML5</h3>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 98%"></div>
                            </div>

                            <!-- CSS -->
                            <h3 class="programming-knowledge">CSS3</h3>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;"></div>
                            </div>

                            <!-- JS -->
                            <h3 class="programming-knowledge">JavaScript</h3>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 80%;"></div>
                            </div>

                            <!-- C++ -->
                            <h3 class="programming-knowledge">C++</h3>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 55%;"></div>
                            </div>

                            <!-- C# -->
                            <h3 class="programming-knowledge">C#</h3>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 78%;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer" id="home">
        <div class="col-md-6">
            <h4>jh 2015.</h4>
        </div>

        <div class="col-md-6">
            <a href="#" target="_self" id="top"><i class="fa fa-chevron-up fa-lg"> Back To Top</i></a>
        </div>
    </footer>

</section>