<title> {{ title }} </title>

<section id="note">

    <!-- Header -->
    <h1 class="header">Your Notes</h1>

    <!-- Add Note -->
    <span class="add-note">
        <i ng-click="addNote()">Add Note</i>
    </span>
    <!-- \.add-note -->

    <!-- Note -->
    <div class="note" ng-repeat="note in notes | orderBy:'createdOn':true track by $index">
        <span class="date"> {{ note.createdOn | date:"EEEE dd MMMM, yyyy" }} </span>
        <span class="icons">
            <i class="fa fa-pencil fa-lg" ng-if="note.edit == true"></i>
            <i class="fa fa-check fa-lg" ng-if="note.edit == false"></i>
            <i class="fa fa-trash-o fa-lg" ng-click="deleteNote ( notes.length - $index - 1 )"></i></span>

        <div class="markdown-body" ng-model="note.text" ng-change="update ( notes.length - $index - 1, note.text)" ng-focus="note.edit = true" ng-blur="note.edit = false" markdown-editable contenteditable="true"> {{ note.text }} </div>
    </div>
    <!-- \.note -->

</section>
